<div *ngIf="inning">
    <c-card class="mb-3">
        <c-card-header>
            <div class="d-flex w-100 justify-content-center align-items-baseline">
                <h5 class="mr-auto">{{matchTitle}}</h5>
                <span class="px-1"><small>{{inningType}}</small></span>
            </div>
        </c-card-header>
        <c-card-body class="p-4">
            <c-alert *ngIf="isEditingMode" color="info">Currently in the editing mode</c-alert>
            <form cForm [formGroup]="scoreSubmitForm" (ngSubmit)="submitForm()">
                <div class="mb-3">
                    <span><strong>{{inning.batting.name}}&nbsp;Batsmen</strong></span>
                    <span class="text-danger px-2"
                        *ngIf="scoreSubmitForm.get('batsman')?.errors?.['required']"><strong>*required</strong></span>
                    <c-form-check *ngFor="let player of inning.batting.players; let i = index">
                        <input cFormCheckInput type="radio" [value]="player._id" name="batsman"
                            formControlName="batsman" />
                        <label cFormCheckLabel>{{player.firstName +' '+ player.lastName}}</label>
                    </c-form-check>
                </div>
                <div class="mb-3" *ngIf="!isEditingMode">
                    <span><strong>{{inning.bowling.name}}&nbsp;Bowlers</strong></span>
                    <span class="text-danger px-2"
                        *ngIf="scoreSubmitForm.get('bowler')?.errors?.['required']"><strong>*required</strong></span>
                    <c-form-check *ngFor="let player of inning.bowling.players; let i = index">
                        <input cFormCheckInput type="radio" [value]="player._id" name="bowler"
                            formControlName="bowler" />
                        <label cFormCheckLabel>{{player.firstName +' '+ player.lastName}}</label>
                    </c-form-check>
                </div>
                <div class="mb-3">
                    <span><strong>Batsman/Extra runs</strong></span>
                    <span *ngIf="scoreSubmitForm.get('runs')?.errors?.['required']">*required</span>
                    <c-form-check *ngFor="let run of runs; let i = index">
                        <input cFormCheckInput type="radio" [value]="run" name="runs" formControlName="runs" />
                        <label cFormCheckLabel>{{run}}</label>
                    </c-form-check>
                </div>
                <div class="mb-3">
                    <span><strong>Illegal delivery</strong></span>
                    <c-form-check *ngFor="let illegalDelivery of illegalDeliveries; let i = index">
                        <input cFormCheckInput type="radio" [value]="illegalDelivery.value" name="illegalDelivery"
                            formControlName="illegalDelivery" />
                        <label cFormCheckLabel>{{illegalDelivery.name}}</label>
                    </c-form-check>
                </div>
                <div class="mb-3">
                    <span><strong>Extras</strong></span>
                    <c-form-check *ngFor="let extra of extrasType; let i = index">
                        <input cFormCheckInput type="radio" [value]="extra" name="extraType"
                            formControlName="extraType" />
                        <label cFormCheckLabel>{{extra}}</label>
                    </c-form-check>
                </div>
                <div class="mb-3">
                    <span><strong>Wicket</strong></span>
                    <c-form-check [switch]="true">
                        <input cFormCheckInput type="checkbox" formControlName="wicket" />
                        <label cFormCheckLabel>Is wicket</label>
                    </c-form-check>
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <button type="submit" cButton color="dark">{{isEditingMode? 'Update':'Publish'}}</button>
                    <button type="button" cButton *ngIf="!isEditingMode" (click)="syncData()" color="dark">Sync</button>
                    <button type="button" cButton *ngIf="isEditingMode" (click)="cancelEditDelivery()"
                        color="warning">Cancel</button>
                </div>
            </form>
            <div class="pt-3">
                <c-alert color="info">
                    <div class="d-flex w-100 justify-content-start">
                        <span><strong>{{settings?.isIllegalDeliveryDiscarded ? '*Wides and no balls are considered as legal': '*Wides and no balls are considered as illegal'}}</strong></span>
                    </div>
                    <div class="d-flex w-100 justify-content-start">
                        <span><strong>Wide ball: {{settings?.wide}} runs</strong></span>
                    </div>
                    <div class="d-flex w-100 justify-content-start">
                        <span><strong>No Ball: {{settings?.noBall}} runs</strong></span>
                    </div>
                    <div class="d-flex w-100 justify-content-start">
                        <span><strong>Balls per over: {{settings?.ballsPerOver}}</strong></span>
                    </div>
                </c-alert>
            </div>
        </c-card-body>
    </c-card>
    <c-card class="mb-3" *ngIf="currentOverList && currentOverList.length > 0">
        <c-card-header>Current over - {{this.inning.currentOver + 1}}</c-card-header>
        <c-card-body class="p-4">
            <c-button-toolbar aria-label="Toolbar with button groups" role="group">
                <c-button-group class="me-2" role="group" *ngFor="let currentBall of currentOverList; let i = index">
                    <button type="button" cButton
                        [color]="currentBall.isWicket? 'warning': currentBall.isLegal ? 'success':'danger'"
                        (click)="loadDelivery(currentBall)">{{currentBall.isWicket? 'W': currentBall.runs +
                        currentBall.extraRuns}}</button>
                </c-button-group>
            </c-button-toolbar>
            <button type="button" cButton color="dark" class="mt-2" (click)="endOver()">Complete Over</button>
        </c-card-body>
    </c-card>
    <c-card class="mb-3" *ngIf="previousOverList && previousOverList.length > 0">
        <c-card-header>Previous over - {{this.inning.currentOver}}</c-card-header>
        <c-card-body class="p-4">
            <c-button-toolbar aria-label="Toolbar with button groups" role="group">
                <c-button-group class="me-2" role="group" *ngFor="let currentBall of previousOverList; let i = index">
                    <button type="button" cButton
                        [color]="currentBall.isWicket? 'warning': currentBall.isLegal ? 'success':'danger'"
                        (click)="loadDelivery(currentBall)">{{currentBall.isWicket? 'W': currentBall.runs +
                        currentBall.extraRuns}}</button>
                </c-button-group>
            </c-button-toolbar>
        </c-card-body>
    </c-card>
    <button cButton color="dark" type="button" class="mb-3" (click)="openEndInningModal()">{{status === 'first_inning_started' ?
        'Complete 1st inning': 'Complete Match'}}</button>
</div>

<p-dialog header="Are you sure you want to edit this delivery?" [(visible)]="editDeliveryModalVisible" [modal]="true" [style]="{ width: '80vw' }"
    [draggable]="false">
    <div class="d-grid gap-2 d-md-flex justify-content-md-center mt-3">
        <button type="button" cButton color="dark" (click)="removeDelivery()"
            [disabled]="editingDelivery && editingDelivery.over===inning.currentOver">Remove</button>
        <button type="button" cButton (click)="loadEditDelivery()" color="dark">Edit</button>
        <button type="button" cButton (click)="closeEditDeliveryDialog()" color="warning">Cancel</button>
    </div>
</p-dialog>

<p-dialog
    [header]="status==='first_inning_started'? 'Do you want to end 1st Inning?': 'Do you want to complete the match?'"
    [(visible)]="endInningModalVisble" [modal]="true" [style]="{ width: '80vw' }" [draggable]="false">
    <div *ngIf="status==='first_inning_started'; else endFirstInning"
        class="d-grid gap-2 d-md-flex justify-content-md-center my-3">
        <button type="button" cButton (click)="endInning()" color="dark">End Inning</button>
        <button type="button" cButton (click)="closeEndInningModal()" color="warning">Cancel</button>
    </div>
</p-dialog>

<ng-template #endFirstInning>
    <form cForm [formGroup]="matchCompleteForm" (ngSubmit)="submitMatchForm()">
        <div class="mb-3">
            <label cLabel for="result">Result</label>
            <input cFormControl id="result" type="text" formControlName="result" />
            <div *ngIf="matchCompleteForm.get('result')?.touched && matchCompleteForm.get('result')?.errors">
                <p *ngIf="matchCompleteForm.get('result')?.errors?.['required']">
                    *value is required
                </p>
            </div>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-center my-3">
            <button type="submit" cButton color="dark">End Match</button>
            <button type="button" cButton (click)="closeEndInningModal()" color="warning">Cancel</button>
        </div>
    </form>

</ng-template>