<c-card class="mb-3">
    <c-card-header>Match List</c-card-header>
    <c-card-body class="p-4">
        <div cListGroup *ngIf="matches.length > 0; else NoMatches">
            <a [routerLink]="['/matches/view',match.id]" cListGroupItem *ngFor="let match of matches; let i = index">
                <div class="d-flex w-100 justify-content-start">
                    <h5 class="mb-1"><small>{{match.team1}}</small></h5>
                    <h5 class="mx-1"><small>vs</small></h5>
                    <h5 class="mb-1"><small>{{match.team2}}</small></h5>
                </div>
                <div class="d-flex w-100 justify-content-between">
                    <c-alert [color]="match.status==='scheduled'?'success':'info'"
                        class="py-0 mb-1"><small>{{match.status}}</small></c-alert>
                    <small><span><i class="fa-solid fa-arrow-right"></i></span></small>
                </div>
            </a>
        </div>
    </c-card-body>
</c-card>

<ng-template #NoMatches>
    No matches found. Please add matches.
</ng-template>