<div *ngIf="liveScore; else welcomeMessage">
    <c-row>
        <div class="d-flex w-100 justify-content-start">
            <h5 class="mr-auto py-1">{{inningType}}</h5>
            <small class="align-self-start text-success"><span class="success px-2">Live&nbsp;<i
                        class="fa-solid fa-broom-ball fa-beat"></i></span></small>
        </div>
    </c-row>
    <c-row>
        <div class="d-flex w-100 justify-content-between">
            <div>
                <h6><strong>{{batting?.name}}</strong></h6>
            </div>
            <div class="text-dark">
                <span>({{over}}&nbsp;ov)</span>
                <span>&nbsp;&nbsp;{{liveScore.runs +
                    liveScore.extras}}&nbsp;/{{liveScore.wickets}}</span>
            </div>
        </div>
        <div class="d-flex w-100 justify-content-end">
            <span>
                <small class="text-dark">
                    (Extras {{liveScore.extras}})
                </small>
            </span>
        </div>
    </c-row>
</div>

<ng-template #welcomeMessage>
    <div>
      <h5><strong>Innings will start shortly&nbsp;<i class="fa-solid fa-spinner fa-spin fa-xs"></i></strong></h5>
    </div>
  </ng-template>

<c-row class="mt-3" *ngIf="batsmen && batsmen.length > 0">
    <div>
        <h6>{{batting?.name}}<span class="px-1">batting</span></h6>
    </div>
    <div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Batsman</th>
                        <th scope="col">R</th>
                        <th scope="col">B</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let batsman of batsmen">
                        <td [ngClass]=" batsman?.isOut ? 'text-danger' : 'text-dark'">{{batsman?._id[1]}}<span
                                *ngIf="batsman?.isOut"><small class="text-danger px-1">(out)</small></span></td>
                        <td [ngClass]=" batsman?.isOut ? 'text-danger' : 'text-dark'">{{batsman?.runs}}</td>
                        <td [ngClass]=" batsman?.isOut ? 'text-danger' : 'text-dark'">{{batsman?.balls}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</c-row>

<c-row class="mt-3" *ngIf="bowlers && bowlers.length > 0">
    <div>
        <h6>{{bowling?.name}}<span class="px-1">bowling</span></h6>
    </div>
    <div >
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Bowler</th>
                        <th scope="col">R</th>
                        <th scope="col">B</th>
                        <th scope="col">W</th>
                        <th scope="col">E</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let bowler of bowlers">
                        <td class="text-dark">{{bowler?._id[1]}}</td>
                        <td class="text-dark">{{bowler?.runs}}</td>
                        <td class="text-dark">{{bowler?.balls}}</td>
                        <td class="text-dark">{{bowler?.wickets}}</td>
                        <td class="text-dark">{{bowler?.extras}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</c-row>

<c-row>
    <div *ngIf="currentOver && currentOver.length > 0">
        <div>
            <h6>Current Over ({{currentOverNumber}})</h6>
        </div>
        <div class="d-flex w-100 justify-content-start">
            <div class="px-1" *ngFor="let delivery of currentOver">
                <c-badge [color]="delivery.isWicket? 'warning': delivery.isLegal ? 'success':'danger'"
                    shape="rounded-pill">{{delivery?.isWicket? 'W': delivery.runs + delivery.extraRuns}}</c-badge>
            </div>
        </div>
    </div>
</c-row>

<c-row class="mt-2">
    <div *ngIf="previousOver && previousOver.length > 0">
        <div>
            <h6>Last Over ({{previousOverNumber}})</h6>
        </div>
        <div class="d-flex w-100 justify-content-start">
            <div class="px-1" *ngFor="let delivery of previousOver">
                <c-badge [color]="delivery.isWicket? 'warning': delivery.isLegal ? 'success':'danger'"
                    shape="rounded-pill">{{delivery?.isWicket? 'W': delivery.runs + delivery.extraRuns}}</c-badge>
            </div>
        </div>
    </div>
</c-row>