<c-card class="mb-3">
    <c-card-header>Team</c-card-header>
    <c-card-body class="p-4">
        <app-player-create (newPlayerEvent)="addPlayer($event)"></app-player-create>
        <app-player-list [players]="players" (removePlayerEvent)="removePlayer($event)"></app-player-list>
    </c-card-body>
</c-card>

<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button type="button"  (click)="cancel()" cButton color="warning">Cancel</button>
    <button type="button" (click)="submitPlayers()" cButton color="dark">Submit Players</button>
</div>