<c-card class="mb-3">
    <c-card-header>{{teamNames[0]}}&nbsp;vs&nbsp;{{teamNames[1]}}</c-card-header>
    <c-card-body class="p-4">
        <p>{{tossSummaryLine}}</p>
        <ng-container *ngIf="isDataLoaded">
            <app-live-inning [inningId]="liveInningId" [roomId]="roomId" [inningType]="liveInningType"
                [matchSettings]="matchSettings"></app-live-inning>
            <ng-container *ngIf="otherInningId">
                <app-other-inning [inningId]="otherInningId" [inningType]="otherInningType"
                    [matchSettings]="matchSettings"></app-other-inning>
            </ng-container>
        </ng-container>
    </c-card-body>
</c-card>